html, body {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: 'Lobster', cursive;
}

nav {
    position: sticky;
    top: 0;
    
  }
  
nav ul {
    display: flex;
    justify-content: flex-end;
    top: 0;
    list-style-type: none;
    background: rgba(194, 177, 82, 0.5);
    margin: 0;
  }
  
  /* ruimte tussen de buttons */
nav li { 
    padding: 1em;
    

  }

nav a {
    text-decoration: none ;
    color: black;
    
} 

nav li:hover {
    background-color: rgba(194, 177, 82, 0.5);

} 
 
/* Banner en buttons */
header {
    display: flex;
    justify-content: flex-end;
    margin-top: 0;
    color: rgb(97, 135, 216);
    background-image: url(Image/cooking.jpg);
    background-size: cover;
    /* width: 50vh; */
}

/* -----------------------NaderOnderzoeken ---------------------------------------------------------------------- */


.banner .cooking{margin:5% 7vw;}

.banner .cooking h1{font-size: 5vw;}
.banner .cooking p {font-size: 2vw;}
.banner .cooking button {

    font-size: 2em;
    padding: 0.5em;
    width: 90%;
    min-width: 3em;
    max-width: 7em;
    background:none;
    color: cornflowerblue;
    font-family: 'Lobster', cursive;
    font-weight: bold;
    margin:10px;
    border: 2px solid rgb(128, 179, 128) ;
}

.banner .cooking button:hover {
background: cornflowerblue;
/* opacity: 0.5; */
color: white;

}
/* --------------------------------------------------------------------------------------------------- */

button { 
    background-color: transparent;
    color:  rgb(97, 135, 216);
    padding: 25px 30px;
    border-radius: 10px 1px;
    font-size: 10px;
} 
button:hover {
    flex-grow: 4;
    max-width: 100%;
    font-size: 1em;
    color: rgb(128, 179, 128);
    background-color: transparent;
}

/* populaire gerechten */

.populaire {
    
    margin: 0px;
    width: 100%;
    text-align: center;
    /* background-color: rgba(119, 119, 121, 0.103); */
}

.pasta {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 0;
    flex-basis: 100%;
    flex: 1;
    margin: 10px;
    line-height: 20px;
    font-size: 20px;
}

.gerecht {
    flex-basis: 100%;
    flex: 1;
    margin: 10px;
    line-height: 20px;
    font-size: 20px;
}

.gerecht .item h4, .gerecht .item p{
    display: inline-block;
   
} 
/* Menu flex beter leren en meer beheersen */

#menus h1{
    font-size: 3em;
    width: 100%;
    text-align: center;
}

.menus-container { 
    display: flex;
    max-width: 90%;
    
    
}

/* ruimte tussen chef en tekst */
.menus {
    display: flex;
    margin-left: 3%;
    flex-wrap: wrap;
    margin-left: 100px;
}

/* styling volledig menu */
.menu {
    margin: 0.5em;
    min-width: 300px;
    max-width: 10%;
    margin-bottom: 20px;
    
}




/* chef flex end onder de pagina */
.chef {
    align-self: flex-end;
    margin-bottom: -5px;
    margin-left: 5vw;
    
}
 .chef img{
    height: 30vw;
 }

 /* footer extra nav en icons */

 footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background:rgb(128, 179, 128);
    height: 350px;
    color: rgb(97, 135, 216);
    margin-bottom: 0;
}

.contact, .navigation{
   width: 25%;
    margin: 30px; 

}


.navigation ul li{
    padding: 0;
    margin-left: -30px;
    list-style-type: none;
}


.navigation ul li a{
    text-decoration: none;
    color: rgb(97, 135, 216);
    font-size: 20px;

}
.lni-facebook-oval {
    color:  rgb(97, 135, 216);
    font-size: 3em;
}



.lni-twitter {
     color :rgb(16, 143, 16);
     font-size: 3em;
}
.lni-instagram {
    color: rgb(97, 135, 216);
    font-size: 3em;
}





    
    










/* media query uitwerken en nog nader onderzoeken diepgang */




@media (max-width:576px){ nav ul{justify-content: center;}}
.banner .cooking{
    text-align: center;
}
.banner .cooking h1{font-size: 4em;}
.banner .cooking p{font-size: 2em;}
.banner .cooking button {
    font-size:1.5em;
    
}

@media (min-width:576px) and (max-width:768px){

    /* -----Navigation---- */
    nav ul{justify-content: center;}

    /* ------Header------ */
    .banner .cooking{
        text-align: center;
    }
    .banner .cooking h1{font-size: 4em;}
    .banner .cooking p{font-size: 2em;}
    .banner .cooking button {font-size:1.5em;}

    /* ------Main------ */ 

}


@media (min-width:768px) and (max-width:992px){

        /* -----Navigation---- */
        nav ul{justify-content: center;}

        /* ------Header------ */
        .banner .cooking h1{font-size: 4em;}
        .banner .cooking p{font-size: 2em;}
        .banner .cooking button {font-size:1.5em;}

        /* ------Main------ */ 
}


@media (min-width:992px) and (max-width:1200px){
         /* -----Navigation---- */

         /* ------Header------ */

         /* ------Main------ */ 
  
}
      