body {
  margin: 0;
  
}
/* #4B86CB, #a0aec0, #C5DEEA */

h1 {
    color: #a0aec0;
    text-align: center;
}

h2 {
    color: #C5DEEA;
    text-align: center;
}

nav {
  margin: 0;
  padding: 0;
  width: 160px;
  background-color: #4B86CB;
  position: fixed;
  height: 100%;
  overflow: auto;
  /* display: flex; */
  /* align-items: center; */
    
    
  }
  

  
nav a  {
  display: block;
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #ffffff;
    
  }

nav a.active {
  background-color: turquoise;
  color: #4bcb6b;
}

nav a:hover:not(.active) {
  background-color: rgb(224, 64, 104);
  color: #ffffff;
}
  
ul {
    list-style: none;
    color: rgb(255, 253, 253);
    display: inline;
  
  
    
}








/* main----------------------------------------------------- */
  .main {
    margin-left: 200px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }

/* Table---------------------------------------------------- */


.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-top: 1px solid black;
  border-right: 1px solid black;
}

.grid > span {
  padding: 8px 4px;
  border-left: 1px solid black;
  border-bottom:  1px solid black;
}

.span:nth-child(even){background-color: #f2f2f2;}




  /* #members {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #members td, #members th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #members tr:nth-child(even){background-color: #f2f2f2;}
  
  #members tr:hover {background-color: #ddd;}
  
  #members th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4caf4f80;
    color: black;
  }  */


  

  /* -------------Informtion---------------- */

  input{
      background-color: #C5DEEA;;
      border-radius: 10px 10px;

  }

@media screen and (max-width: 700px) {
.test1 {
  width: 100%;
  height: auto;
  position: relative;
  }
.test1 a {float: left;}
div.content {margin-left: 0;}
}
    
@media screen and (max-width: 400px) {
.test1 a {
  text-align: center;
  float: none;
  }
}





  
  