body {
  margin: 0;
  
  
}


h1 {
    color: #a0aec0;
    text-align: center;
}

h2 {
    color: #C5DEEA;
    text-align: center;
}

nav {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #4B86CB;
  position: fixed;
  height: 100%;
  overflow: auto;
  /* display: flex; */
  /* align-items: center; */
    
    
  }
  

  
nav a  {
  display: block;
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #ffffff;
    
  }

nav a.active {
  background-color: turquoise;
  color: #4bcb6b;
}

nav a:hover:not(.active) {
  background-color: rgb(224, 64, 104);
  color: #ffffff;
}
  
ul {
    list-style: none;
    /* color: rgb(255, 253, 253); */
    display: inline;
  
}

.lni {
 color: #4bcb6b;
 /* padding: 20px 20px; */
 margin-bottom: 10px;
  
}








  /* main----------------------------------------------------- */
  .main {
    margin-left: 200px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }

   /* Table---------------------------------------------------- */


.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-top: 1px solid black;
  border-right: 1px solid black;
 
  width: 50%;
  margin-left: 400px;
  align-items: center;
  justify-content: center;
  
  /* grid-template-columns: minmax(50px, 100px) 2fr 2fr 1fr; */


}

.grid > span {
  padding: 8px 4px;
  border-left: 1px solid black;
  border-bottom:  1px solid black;
  /* align-self: center; */
  /* justify-self: center; */
  /* grid-template-columns: 1fr 3fr 1fr; */
  /* grid-template-columns: minmax(50px, 100px) 2fr 2fr 1fr; */
}

span {
  border-collapse: collapse;
  /* background-color: #4caf4f80; */
} 

span:nth-child(an + b){background-color: #f2f2f2;}
span:hover {background-color: rgb(221, 221, 221);}



.container {
  width: 60%;
  max-width: 1000px;
  margin: 0 auto;
  /* background-color: #333; */
  
}

.container * {
  box-sizing: border-box;
}

.flex-outer,
.flex-inner {
  list-style-type: none;
  padding: 0;
}

.flex-outer {
  max-width: 800px;
  margin: 0 auto;
}

.flex-outer li,
.flex-inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.flex-inner {
  padding: 0 8px;
  justify-content: space-between;  
}

.flex-outer > li:not(:last-child) {
  margin-bottom: 20px;
}

.flex-outer li label,
.flex-outer li p {
  padding: 8px;
  font-weight: 300;
  letter-spacing: .09em;
  text-transform: uppercase;
}

.flex-outer > li > label,
.flex-outer li p {
  flex: 1 0 120px;
  max-width: 220px;
  color: #C5DEEA;
}

.flex-outer > li > label + *,
.flex-inner {
  flex: 1 0 220px;
}

.flex-outer li p {
  margin: 0;
  
}

.flex-outer li input:not([type='checkbox']),
.flex-outer li textarea {
  padding: 15px;
  border: none;
 
}

.flex-outer li button {
  margin-left: auto;
  padding: 8px 16px;
  border: none;
  background: #333;
  color: #a54e4e;
  text-transform: uppercase;
  letter-spacing: .09em;
  border-radius: 2px;
}

.flex-inner li {
  width: 100px;
}

  

  /* -------------Informtion---------------- */

  input{
      background-color: #C5DEEA;;
      border-radius: 10px 10px;

  }

@media screen and (max-width: 700px) {
.test1 {
  width: 100%;
  height: auto;
  position: relative;
  }
.test1 a {float: left;}
div.content {margin-left: 0;}
}
    
@media screen and (max-width: 400px) {
.test1 a {
  text-align: center;
  float: none;
  }
}





  
  