$primary-color:#4B86CB,;
$secondary-color: #a0aec0,;
$tertiary-color: #C5DEEA;
$quaternary-color: rgba(16, 31, 165, 0.616);
$quinary-color: rgba(16, 165, 16, 0.616);
$senary-color:rgba(16, 165, 16, 0.616);
$septenary-color:rgba(16, 165, 16, 0.616);
$octonary-color: rgba(16, 165, 16, 0.616);
$nonary-color:rgba(16, 165, 16, 0.616);
$denary-color:rgba(16, 165, 16, 0.616);
$button-color:rgb(182, 126, 35);
$button-hover-color:rgb(0, 60, 255);